body {
    font-size: 18px;
    font-family: "Lato";
    background-color: rgba(128, 0, 0, 0.3);
}

h2 {
    font-weight: bold;
}

div.block {
    border: 4px solid #000000;
    max-width: 100px;
    max-height: 90px;
    overflow-y: auto;
    text-align: center;
}

div.block::-webkit-scrollbar {
    display: none;
}
ul {
    padding-right: 25px;
    list-style-type: none;
}


#tables {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 80%;
    color: white;
}

#tables > div > button {
    height: 30px;
    width: 30px;
    color: white;
    border-radius: 15px;
}

#tables > div > button:hover {
    opacity: 0.7;
}

#tables > div > button:focus, #tables > div > button:active {
    filter: brightness(0.6);
    transform: scale(0.92);
}

.couch {
    position: absolute;
    left: 6%;
    bottom: 21%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.window {
    position: absolute;
    left: 15%;
    bottom: 23%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dessert {
    position: absolute;
    left: 30%;
    bottom: 41%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bakery {
    position: absolute;
    left: 34%;
    bottom: 41%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wok {
    position: absolute;
    right: 29%;
    top: 43%;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.sushi {
    position: absolute;
    right: 29%;
    bottom: 43%;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.beverage {
    position: absolute;
    right: 8%;
    top: 29%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.kitchen {
    position: absolute;
    right: 5.5%;
    bottom: 25%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.annexTop {
    position: absolute;
    right: 6%;
    bottom: 12%;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.annexBottom {
    position: absolute;
    right: 6%;
    bottom: 6%;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

#annexTop-1, #annexBottom-1  {
    margin-right: 55px;
}

#annexTop-10, #annexBottom-10 {
    margin-left: 55px;
}

.card {
    margin: 60px auto;
    width: 40% !important;
    text-align: center;
    opacity: 0.9;
}

.card-container {
    position : relative;
    width : 1100px;
    display : flex;
    margin: auto;
    align-items : center;
    justify-content : center;
    flex-warp : warp;
    cursor: pointer;
}

.card-container .card {
  position: relative;
  height : 150px;
  padding: 20px;
  background-color : #fff;
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 1.5s ease-out;
  border-radius : 15px;
}

.card-container:hover .card {
  width: 75% !important;
  opacity: 0.9;
}

.card-container:hover .card-left {
    transform: translateX(-180px);
}

.card-container:hover .card-right {
    transform: translateX(180px);
}

.card-container:focus .card, .card-container:active .card {
    filter: brightness(0.8);
}

.image {
    position: absolute;
    max-height: 350px;
    display: flex;
    align-items: center;
    filter: brightness(0.45);
    transition: 1.5s ease-out;
}

.image img {
  max-width: 350px;
  max-height: 350px;
  border-radius : 15px;
}

.card-container:hover .image {
    filter: brightness(1);
}

.card-container:hover .slide-left {
    transform: translateX(-460px);
}

.card-container:hover .slide-right {
    transform: translateX(460px);
}

.card-container .card .content {
  position : relative;
  color : #111;
  text-align : center;
  visibility : hidden;
  opacity : 0;
  transition : opacity 0.3s ease-in-out;
    
}

.card-container .card:hover .image {
    opacity: 1;
    filter: brightness(1);
}

.card-container:hover .content {
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
   z-index: 999;
}

.card-container:hover .hidden {
    display: none;
}

#container-hour, #container-time {
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }

  .modal-button {
    width: 80px;
    height: 40px;
    margin: 0 30px;
    border-radius: 5px;
  }

  #time-button {
    display: none;
  }

  .modal-button:hover {
    opacity: 0.8;
  }

  .modal-button:focus, .modal-button:active {
    filter: brightness(0.8);
    transform: scale(0.95);
  } 
  
  /* The Close Button */
  #close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close:hover,
  #close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .range{
    display: none;
    height: 80px;
    width: 380px;
    margin: -50px auto 20px;
    background: #fff;
    border-radius: 10px;
    padding: 0 65px 0 45px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
  }
  .sliderValue{
    position: relative;
    width: 222.2%;
  }

  .sliderValue span{
    text-align: center;
    position: absolute;
    height: 45px;
    width: 45px;
    transform: translateX(-70%) scale(0);
    font-weight: 500;
    top: -40px;
    line-height: 55px;
    z-index: 2;
    color: #fff;
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
  }
  .sliderValue span.show{
    transform: translateX(-70%) scale(1);
  }
  .sliderValue span:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: green;
    border: 3px solid #fff;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .field{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  .field .value{
    position: absolute;
    font-size: 18px;
    color: green;
    font-weight: 600;
  }
  .field .value.left{
    left: -22px;
  }
  .field .value.right{
    right: -43px;
  }
  .range input{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
  }
  .range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    background: green;
    border: 1px solid green;
    cursor: pointer;
  }
  .range input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    background: #664AFF;
    border: 1px solid green;
    cursor: pointer;
  }
  .range input::-moz-range-progress{
    background: green;
  }

  #order-list {
    display: none;
  }